parameters:
    level: max
    paths:
        - test
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            path: test/Unit/Lz4CompressorTest.php
            identifier: throws.notThrowable
            reportUnmatched: false
