parameters:
    level: max
    paths:
        - src
        - php-cassandra.php
    treatPhpDocTypesAsCertain: false
    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
    ignoreErrors:
        -
            path: src/Type/Date.php
            message: '#Dead catch - Exception is never thrown in the try block\.#'
            reportUnmatched: false
