parameters:
    level: max
    paths:
        - scripts
        - src
        - php-cassandra.php
    scanFiles:
        - phpstan/ext-lz4.php
    treatPhpDocTypesAsCertain: false
    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
    ignoreErrors:
        -
            path: src/Value/Date.php
            message: '#Dead catch - Exception is never thrown in the try block\.#'
            reportUnmatched: false
        -
            path: src/Value/Duration.php
            message: '#Dead catch - Exception is never thrown in the try block\.#'
            reportUnmatched: false
        -
            path: src/Value/Uuid.php
            message: '#Method Cassandra\\Value\\Uuid::random\(\) throws checked exception Random\\RandomException but it''s missing from the PHPDoc @throws tag\.#'
            reportUnmatched: false
        -
            path: scripts/lz4/validate-compressor.php
            identifier: throws.notThrowable
            reportUnmatched: false
        -
            path: scripts/lz4/validate-decompressor.php
            identifier: throws.notThrowable
            reportUnmatched: false
        -
            path: test/Unit/Lz4CompressorTest.php
            identifier: throws.notThrowable
            reportUnmatched: false
